@use '/src/styles/themes/light.scss' as *;
@use '/src/styles/themes/dark.scss' as *;
@use '/src/styles/index.scss' as *;
@use '/src/styles/global.scss' as *;

.Sidebar {
	height: calc(100vh - 90px);
	width: $sidebar-width;
	position: relative;
	transition: width 0.3s ease;
	background: var(--primary-color);
}

.collapsed {
	width: $sidebar-width-collapsed;
}

.switchButtons {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.lang {
	margin-left: 20px;
}
