@use '/src/styles/themes/dark.scss' as *;
@use '/src/styles/themes/light.scss' as *;

.AppLink {
	color: var(--primary-color);
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--secondary-color);
}
